/* flex box, limiter and sr-only */
.flex,
.limiter,
.main-box,
.left-side,
.buttons-wrapper {
    display: flex;
}

.limiter {
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 144rem;
    padding: 0 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* header */
#toggle-mode {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
}

.reset-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/* main */
.main-box {
    flex-direction: column;
    justify-content: center;
    gap: 6.4rem;
}

/*left-side*/
.left-side {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

#minutes,
.twopoints,
#seconds {
    font-size: 12.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.buttons-wrapper {
    align-items: center;
    gap: 4rem;

    background: var(--white);
    padding: 1.6rem;
    border-radius: 10rem;
}

/*right-side*/
.grid-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 3.2rem;
}

#card {
    background: var(--bg-card);
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
}

#card i {
    color: var(--black);
}

/* footer */