/* flex box, limiter and sr-only */
.flex,
.limiter,
.main-box,
.left-side,
.buttons-wrapper {
    display: flex;
}

.limiter {
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 144rem;
    padding: 0 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* header */
#toggle-mode {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
}

.reset-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* main */
.main-box {
    flex-direction: column;
    justify-content: center;
    gap: 6.4rem;
    transition: .3s;
}

/*left-side*/
.left-side {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

#minutes,
.twopoints,
#seconds {
    font-size: 12.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.buttons-wrapper {
    align-items: center;
    gap: 4rem;

    background: var(--white);
    padding: 1.6rem;
    border-radius: 10rem;
}

/*right-side*/
.grid-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 3.2rem;
}

.radio-box {
    height: 15.2rem;
    width: 13.8rem;
    cursor: pointer;
}

.radio-box input {
    display: none;
}

.radio-box i {
    font-size: 5.2rem;
    color: var(--black);
}

.radio-box i::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
    background: var(--bg-card);
}

.radio-box input:checked+i::before {
    background: var(--bg-focused-card);
}

.radio-box input:checked+i {
    color: var(--white);
}

/* video and animation */
#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100vh;
    filter: grayscale(50%);
    animation: opacity .6s;
}

@-webkit-keyframes opacity {
    0% {
        -webkit-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-opacity: 1;
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        -webkit-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-opacity: 1;
        opacity: 1;
    }
}